

</div>
<!-- <div class=" footer-padding"></div> -->
<div class="whatsapp home">
  <a href="https://wa.me/message/P6GY7RGUZEZBM1"><img src="/icons/whatsapp.png" ></a>
</div>
  <div class="footer">
    <p class="" >Copyright © 2024 – eLawyer Law Group | All Rights Reserved</p>
    <div>
      <ul class="menu-list">
        <li><a href="https://www.facebook.com/elawyerserviceshelp"><img src="\icons\facebook.png"></a></li>
        <li><a href="https://twitter.com/elawyerservice"><img src="\icons\twitter.png" ></a></li>
        <li><a href="https://www.instagram.com/eLawyerservices"><img src="\icons\instagram.png" ></a></li>
        <li><a href="https://www.linkedin.com/in/elawyer-law-group-66012a1b7"><img src="\icons\linkedin.png" ></a></li>
        <li><a href="https://www.youtube.com/channel/UCaRw-4UITORS8DVu73fTrFg/featured"><img src="\icons\youtube.png" ></a></li>
      </ul>
    </div>
  </div>
  
</div>
</body>
</html>