<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eLawyer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:ital@1&family=Oranienbaum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/topnav.css">

</head>
<body>
  <header>
		<nav class="navigation nib">

			<div class="logo">
				<img src="icons\logo.png" class="logo">
			</div>

			<ul class="menu-list">
				<li><img src="icons\phone.png" class="imgTop"><a>+918826275476</a></li>
				<li><img src="icons\group-chat.png" class="imgTop"><a href="/team">Our Team </a></li>
				<li><img src="icons\about.png" class="imgTop"><a href="/about">About Us</a></li>
				<li><img src="icons\legal.png" class="imgTop"><a href="/blog">Legal Blog </a></li>
				<li><img src="icons\student.png" class="imgTop"><a href="/lawyer">Lawyer’s Corner</a></li>
        <li><img src="icons\lawyer.png" class="imgTop"><a href="/login">Login</a></li>
			</ul>

			<div class="humbarger">
				<div class="bar"></div>
				<div class="bar2 bar"></div>
				<div class="bar"></div>
			</div>
		</nav>
    </header>

    
    <div class="navb">
        <!-- <div><img src="views\partials\logo.png" class="logo"></div> -->
        <img src="icons\home.png" class="img"><a href="/">Home</a>
        <div class="ddown">
          <button class="dbtn dropdown-toggle">Family 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="ddown-content">
            <a href="/family">Adoption</a>
            <a href="/family">Child custody</a>
            <a href="/family">Divorce and Separation</a>
            <a href="/family">Domestic Violence</a>
            <a href="/family">Hindu laws</a>
            <a href="/family">Muslim Laws</a>
            <a href="/family">Marriage Registration</a>
            <a href="/family">Live In Relationship</a>
            </ul>
          </div>
        </div> 
        <div class="ddown">
            <button class="dbtn dropdown-toggle">Criminal 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="ddown-content">
              <a href="#">Bail</a>
              <a href="#">Sex Crime/Rape</a>
              <a href="#">POCSO Crime</a>
              <a href="#">Juvenile</a>
              <a href="#">Police brutality cases</a>
              <a href="#">Cyber Crime</a>
              <a href="#">Motor Accident</a>
              <a href="#">Cheque Bounce</a>
            </div>
          </div>
          <div class="ddown">
            <button class="dbtn dropdown-toggle">Corporate/Commercial 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="ddown-content">
              <a href="#">Income Tax Cases</a>
              <a href="#">GST Cases</a>
              <a href="#">Insolvency & Bankruptcy</a>
              <a href="#">Debt Collection</a>
              <a href="#">Financial Markets and Services</a>
              <a href="#">Insurance</a>
              <a href="#">Merger & acquisition</a>
              <a href="#">SEBI Laws</a>
              <a href="#">Intellectual Property</a>
              <a href="#">Copyright</a>
              <a href="#">Patent</a>
              <a href="#">Trademarks</a>
            </div>
          </div>
          <div class="ddown">
            <button class="dbtn dropdown-toggle">Govt Compliances 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="ddown-content">
              <a href="#">Company Registration</a>
              <a href="#">GST Registration</a>
              <a href="#">ISO Registration</a>
              <a href="#">PF/ESI Registration</a>
              <a href="#">ITR/GST filing</a>
              <a href="#">Digital Signature Certificate</a>
              <a href="#">LLP Registration</a>
              <a href="#">Apeda Registration</a>
              <a href="#">Annual ROC Filing</a>
              <a href="#">Others >></a>
            </div>
          </div>
          <div class="ddown">
            <button class="dbtn dropdown-toggle">Civil 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="ddown-content">
              <a href="#">Permanent Injunction</a>
              <a href="#">Consumer Court Laws</a>
              <a href="#">Landlord and Tenant</a>
            </div>
          </div>
          <div class="ddown">
            <button class="dbtn dropdown-toggle">Property Registration 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="ddown-content">
              <a href="#">General Power of Attorney</a>
              <a href="#">Special Power of  Attorney</a>
              <a href="#">Sale deed</a>
              <a href="#">Sale agreement</a>
              <a href="#">Relinquishment deed</a>
              <a href="#">Lease hold to free hold</a>
              <a href="#">Conveyance Deed</a>
              <a href="#">Partnership Deed</a>
              <a href="#">Registration</a>
              <a href="#">International Laws</a>
              <a href="#">Others >></a>
            </div>
          </div>
          <a href="#">Case Status</a>
          <a href="#">Consult 24/7</a>
          
      </div>


    </div> 
</body>
<div class="container">
  
  <div><img class="bgimage" src="icons/real estate.jpg"></div>
  <script>
  document.addEventListener('DOMContentLoaded', function() {

// Hamburger Toggle
var hamburger = document.querySelector('.humbarger');
var menuList = document.querySelector('.menu-list');

hamburger.addEventListener('click', function(event) {
    menuList.style.display = (menuList.style.display === 'none' || menuList.style.display === '') ? 'block' : 'none';
    event.preventDefault();
});

// Menu Item Click
var menuLinks = document.querySelectorAll('.menu-list li a');

menuList.addEventListener('click', function(event) {
    if (window.innerWidth < 768 && event.target.tagName === 'A') {
        menuList.style.display = 'none';
    }
});

});

</script>