<%- include("partials/header"); %>

<section id="pricing">

    <div class="row">

      <div class="pricing-col col-lg-4 col-md-6">
        <div class="card">  
          <div class="card-body">
            <h2 class="pricing-text"></h2>
            <p> <a href="https://main.sci.gov.in/">SUPREME COURT</a></p>
            <p><a href="https://njdg.ecourts.gov.in/njdgnew/ ">NJDG</a></p>
            <p><a href="https://www.delhipolice.nic.in/view-fir.html ">FIR STATUS</a></p>
            <p><a href="https://efiling.nclt.gov.in/nclt/public/case_status.php ">NCLT</a></p>
          </div>
        </div>
      </div>
      <div class="pricing-col col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="pricing-text"></h2>
            <p> <a href="https://services.ecourts.gov.in/ecourtindia_v6/">HIGH COURT</a></p>
            <p><a href="https://ipindia.gov.in/ ">IPR</a></p>
            <p><a href="https://rtionline.gov.in/ ">RTI</a></p>
            <p><a href="https://cms.rbi.org.in/cms/IndexPage.aspx?aspxerrorpath=/cms/cms/indexpage.aspx ">RBI-OMBUDSMAN</a></p>
            
          </div>
        </div>
      </div>
      <div class="pricing-col col-lg-4">
        <div class="card">
          <div class="card-body">
            <h2 class="pricing-text"></h2>
            <!-- <img class="cardimg" src="public\icons\still-life-with-scales-justice.png"> -->
            <p><a href="https://districts.ecourts.gov.in/">DISTRICT COURTS</a></p>
            <p><a href="https://www.cybercrime.gov.in/ ">CYBER CRIME</a></p>
            <p><a href="https://doj.gov.in/eodb/">DOJ</a></p>
            <p><a href="https://drt.gov.in/front/drt_case_status.php ">DRT</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include("partials/footer"); %>