<%- include("partials/header"); %>
<div class="textf">
  <h1 class="headings">Civil</h1>

  <h3 class="headings">• Permanent Injunction</h3>
  <p>
    An injunction is a court order, that requires a person to do or abstain from
    doing an act that is necessary in terms of justice, and the absence of which
    would be contrary to good faith and good conscience. Basically, the grant of
    an injunction, aims to restore the violated rights of a party, whereby
    monetary or compensatory damages are insufficient. It follows the principles
    of Natural Justice and Equity. The concept of injunction, is a fairly simple
    one, and the relief granted, is a preventive one. Historically, the law of
    injunction finds its origin in English Jurisprudence, and comes from the
    French word ‘injungere’, which translates to ‘to join’. It finds its origins
    in Indian law through several Indian Statutes. To specify, the statutory
    provisions for injunctions, according to the required law, are present in
    CrPC (for Criminal cases), CPC and the Specific Relief Act (for Civil
    matters). Each of these statutes provide for some form of injunction,
    depending on the situation and the case.
  </p>

  <h3 class="headings">• Consumer Court Laws</h3>
  <p>
    The main objective of the Consumer Protection Act is to provide better
    protection of consumers and establish a strong mechanism for the settlement
    of consumer disputes. The Consumer Protection Act seeks right to: • protect
    against the marketing of goods which are hazardous to life and property; •
    inform about the quality, quantity, potency, purity, standard and price of
    goods to protect the consumer against unfair trade practices; • assure,
    wherever possible, access to an authority of goods at competitive prices; •
    hear and to assure that consumers interests will receive due consideration
    at appropriate forums; • seek redressal against unfair trade practices or
    unscrupulous exploitation of consumers; • consumer education.
  </p>

  <h3 class="headings">• Landlord and Tenant</h3>
  <p>
    A central Rent Control Act was passed by the legislature in 1948. It
    regulates the rules of letting out a property and ensures that neither the
    landlords nor the tenants’ rights are exploited by the other. It should also
    be noted that currently, each state has its own Rent Control Act, though
    largely similar to each other, they carry some minor differences.
  </p>
</div>

<%- include("partials/footer"); %>
