<%- include("partials/header"); %>
<br>
<div class="textf">
  <h1 class="headings">CRIMINAL LAWS</h1>

  <h3 class="headings">• Bail</h3>
  <p>
    Bail is the amount of money defendants must post to be released from custody
    until their trial. Bail is not a fine. It is not supposed to be used as
    punishment. The purpose of bail is simply to ensure that defendants will
    appear for trial and all pretrial hearings for which they must be present.
  </p>
<hr>
  <h3 class="headings">• Sex Crime/Rape</h3>
  <p>
    Sex crimes are often punished quite severely, it is important for anyone
    accused of them to both know what they’re up against legally, in addition to
    knowing how to mount a proper defense against these charges. The penalties
    for sex crime convictions can be harsh and might include registration as a
    sex offender, jail time, fines, and other penalties, all of which can
    forever alter a person’s life. Even if he or she wants to erase a criminal
    past, it can be difficult to recover one’s reputation after a conviction of
    a sex crime. As such, creating a strong defense from the start and
    understanding your charges is necessary to standing the best chance at
    avoiding these penalties. Below are the types of Sexual violence/Crime •
    Rape/Aggravated Sexual Assault • Statutory Rape • Sexual Assualt of a child
    • Possession of Child Pornography • Internet Sex crimes • Attempted Sexual
    Assault • Sexual harassment • Stalking • Molestation • Indecency with child
    • Adult survivors of child sexual abuse • Using Technology to Hurt others •
    Sexual abuse by medical professionals • Sexual Exploitation by Helping
    Professionals • Multiple-Perpetrator Sexual Assault • Elder abuse • Sexual
    abuse of people with disabilities • Prisoner Rape • Military Sexual Trauma •
    Legal Role of Concent
  </p>
<hr>
  <h3 class="headings">• POCSO Crime</h3>
  <p>
    POSCO Act : The Protection of Children from Sexual Offences (POCSO) Act,
    2012 was formulated in order to effectively address sexual abuse and sexual
    exploitation of children through legal provisions.
  </p>
<hr>
  <h3 class="headings">• Juvenile</h3>
  <p>
    Juvenile Delinquency refers to participation of minors in illegal crimes.
    When a person deviates from the normal course of his social life his
    behaviour is termed as 'delinquent'. In other words when a juvenile's
    actions prove to be dangerous towards the society and for him, he may be
    called a juvenile delinquent.
  </p>
<hr>
  <h3 class="headings">• Police brutality cases</h3>
  <p>
    Police brutality refers to the use of unnecessary use of force by a police
    officer. The use of such tools as pepper spray, batons, and teasers, as well
    as hitting, choking, throwing a non-combatant civilian to the ground, and
    sexual abuse are all examples of physical police brutality. It can be a
    physical as well as verbal abuse or racial profiling and false arrest. Many
    countries have their laws for police brutality. It is considered as a severe
    offence but still, there are cases where the complaints of civilians or
    victim do not even reach to the investigation stage. It is very difficult to
    prove that the police are using excessive force or not. In defense, the
    civilian has started to record the videos of their interaction with the
    police officer and the same is done by the police officer in his or her
    defense.
  </p>
<hr>
  <h3 class="headings">• Cyber Crime</h3>
  <p>
    A primary effect of cybercrime is financial; cybercrime can include many
    different types of profit-driven criminal activity, including ransomware
    attacks, email and internet fraud, and identity fraud, as well as attempts
    to steal financial account, credit card or other payment card information.
  </p>
<hr>
  <h3 class="headings">• Motor Accident</h3>
  <p>
    The Motor Vehicle Act, 1988 provides provisions related to claims for losses
    that occurred due to a motor accident to person (self) or other (third
    party). Further, the accident victim, having age less than the age of 18
    years, cannot go for an accidental claim on its own but can go through a
    lawyer.
  </p>
<hr>
  <h3 class="headings">• Cheque Bounce</h3>
  <p>
    A cheque bounce is an offence under Section 138 of the Negotiable
    Instruments Act, 1881 (“Act”) punishable with a fine which can extend to
    twice the amount of the cheque or imprisonment for a term not more than two
    years or both.
  </p>
</div>
<%- include("partials/footer"); %>
