<%- include("partials/header"); %>
<br>

<div class="textf">
<h1 class="headings">FAMILY LAWS</h1>

<h3 class="headings">• Adoption </h3>
<p> 1.	The prospective adoptive parents shall be physically, mentally and emotionally stable, financially capable and shall not have any life threatening medical condition.
    2.	Any prospective adoptive parents, irrespective of his marital status and whether or not he has biological son or daughter, can adopt a child subject to following, namely:-
             1.	the consent of both the spouses for the adoption shall be required, in case of a married couple;
             2.	a single female can adopt a child of any gender;
             3.	a single male shall not be eligible to adopt a girl child;
    3.	No child shall be given in adoption to a couple unless they have at least two years of stable marital relationship.
    4.	The age of prospective adoptive parents, as on the date of registration, shall be counted for deciding the eligibility and the eligibility of prospective adoptive parents to apply for children of different age groups shall be as under:-
    Age of the chitld	Maximum composite age of prospective adoptive parents (couple)	Maximum age of single prospective adoptive parent
     Upto 4 years	 90 years	 
    45 years
    Above 4 and upto 8  years	100 years	50 years
    Above 8 and upto 18 years	110 years	55 years
    
    
    5.	In case of couple, the composite age of the prospective adoptive parents shall be counted.
    6.	The minimum age difference between the child and either of the prospective adoptive parents shall not be less than twenty-five years.
    7.	The age criteria for prospective adoptive parents shall not be applicable in case of relative adoptions and adoption by step-parent.
    8.	Couples with three or more children shall not be considered for adoption except in case of special need children as defined in sub-regulation (21) of regulation 2, hard to place children as mentioned in regulation 50 and in case of relative adoption and adoption by step-parent.
    Top advocates with Rating should come Free chat – Paid Consultation
</p>
<h3 class="headings">• Child custody</h3>    
    
<p>As per law, if the child’s age is less than 5 years, the mother can claim for physical custody  and the father can have visitation rights. But, after the child has crossed the age of 5 years, the physical custody and upbringing of the child will be considered by the Court.
    Types of custody orders
    	Legal custody, which means who makes important decisions for your children (like health care, education, and welfare), and.
    	Physical custody, which means who your children live with.
    
    Top advocates with Rating should come Free chat – Paid Consultation
</p>       
    
<h3 class="headings">• Divorce and Separation</h3>    
    
<p>Grounds for Divorce
    •	 Adultery.
    •	Desertion.
    •	Insanity.
    •	Conversion.
    •	Renunciation.
    •	Cruelty.
    •	Venereal disease.
    •	Presumption of death.
    
    Top advocates with Rating should come Free chat – Paid Consultation
</p>        
<h3 class="headings">• Domestic Violence</h3>     
    
<p>Any act consists of domestic violence when it harms or endangers the health, safety, life, limb, or wellbeing (mental or physical) of the victim.
    
    
    Types of Domestic Violence
    •	Physical abuse.
    •	Sexual abuse.
    •	Psychological abuse.
    •	Verbal abuse.
    •	Emotional abuse.
    •	Economic abuse.
    
    Top advocates with Rating should come Free chat – Paid Consultation
</p>        
<h3 class="headings">• Hindu laws</h3>

<p>Conditions of a Hindu Marriage
    A marriage to be valid marriage where at the time of marriage, the parties should be capable of giving a valid consent to the marriage. A person who is of a sound mind shall be considered to be a person capable to give a valid consent. Neither party, though capable of giving a valid consent should be suffering from mental disorder of such a kind or to such an extent as to be unfit for marriage and procreation of children. Neither party should be suffering from recurrent attacks of insanity or epilepsy.The bridegroom should have attained the age of 21 years and the bride should have attained the age of 18 years at the time of marriage.The parties should not be within the degrees of prohibited relationships, unless the customs or usage, permits such a marriage.
    Top advocates with Rating should come Free chat – Paid Consultation
</p>        

<h3 class="headings">• Muslim Laws</h3> 
    
<p>Essentials of Valid Marriage under Muslim Law
    	Proposal and Acceptance.
    	Competency of Parties. Major. Soundness of Mind. Muslim.
    	Free Consent.
    	Dower.
    	Free From Legal Disability. Absolute Prohibition. Consanguinity. Affinity. Fosterage. Relative Prohibition. Unlawful Conjunction. Polygamy. Absence of Proper Witness. ...
    	Registration.
    
    Top advocates with Rating should come Free chat – Paid Consultation
</p>        
    <h3 class="headings">• Marriage Registration</h3> 
    
<p> The Supreme Court of India, in 2006, made it mandatory to register all marriages. In India, a marriage can either be registered under the Hindu Marriage Act, 1955 or under the Special Marriage Act, 1954. The Hindu Marriage Act applies to Hindus, whereas the Special Marriage Act applies to all citizens of India irrespective of their religion. The Hindu Marriage Act provides for registration of an already solemnized marriage and does not provide for solemnization of a marriage by a Marriage Registrar. However, the Special Marriage Act provides for solemnization of a marriage as well as registration by a Marriage Officer. To be eligible for marriage in India, the minimum age is 21 years for males and 18 years for females.
    
    Top advocates with Rating should come Free chat – Paid Consultation
</p>       
    <h3 class="headings">• Live In Relationship</h3> 
    
<p>    Live-in relation i.e. cohabitation is an arrangement whereby two people decide to live together on a long-term or permanent basis in an emotionally and/or sexually intimate relationship. The term is most frequently applied to couples who are not married. In a much awaited observation on live-in relationships, the Supreme Court opined that a man and a woman living together without marriage cannot be construed as an offence. “When two people want to live together, what is the offence? Does it amount to an offence?” a special three-Judge Bench constituting the Chief Justice of India, K.G. Balakrishnan and Justices Deepak Verma and B.S. Chauhan observed. The Supreme Court said that there was no law prohibiting live-in relationships or pre-marital sex. “Living together is a right to live” the Supreme Court said, apparently referring to Article 21 of the Constitution of India which guarantees right to life and personal liberty as a fundamental right. The Supreme Court made the observation while reserving its judgment on a Special Leave Petition filed by a noted South Indian actress, Khushboo seeking to quash 22 criminal cases filed against her after she allegedly endorsed pre-marital sex in interviews to various magazines in 2005
</p>

</div>

    
<%- include("partials/footer"); %>