<%- include("partials/header"); %>
<br>
<div class="textf">
  <h1 class="headings">GOVT COMPLIANCES</h1>

  <h3 class="headings">• Company Registration</h3>
  <p>
    A company registration number is a unique combination of numbers and, in
    some cases, letters. The company registration number (also known as the
    company number, registration number or simply abbreviated to CRN) is used to
    identify your company and verify the fact that it is an entity registered
    with Companies House.
  </p>

  <h3 class="headings">• GST Registration</h3>
  <p>
    Registration of any business entity under the GST Law implies obtaining a
    unique number from the concerned tax authorities for the purpose of
    collecting tax on behalf of the government and to avail Input tax credit for
    the taxes on his inward supplies.
  </p>

  <h3 class="headings">• ISO Registration</h3>
  <p>
    ISO Registration. A certification act as proof of that company's credibility
    in tenders and enhances confidence that your promises will be kept. ISO
    registration is one of them. It certifies that the company's management
    system complies with an ISO standard beneficial to your business, your
    clients, and your team.
  </p>

  <h3 class="headings">• PF/ESI Registration</h3>
  <p>
    PF registration is mandatory for all establishments with 20 or more persons,
    if the establishment has fewer than20 employees still a PF registration
    would be required. The employee can become eligible for PF right from the
    commencement of the employment and onus of deduction and PF payment is with
    the employer. ESI registration is mandatory once a company or any other
    entity employs 10 or more low-earning employees. According to the Act, any
    employee earning less than Rs. 15,000 per month needs to contribute 1.75% of
    his/her pay towards the ESI, while 4.75% will be contributed towards his/her
    ESI by the company.
  </p>

  <h3 class="headings">• ITR/GST filing</h3>
  <p>
    ITR FILING It is mandatory to file the income tax returns online for all the
    registered taxpayers whose taxable income. However, paper returns can be
    filed by those who are above 80 years of age and do not have any income from
    regular business or profession. GST FILING A GST return is a document
    containing details of all income/sales and/or expense/purchase which a
    taxpayer (every GSTIN) is required to file with the tax administrative
    authorities. This is used by tax authorities to calculate net tax liability.
  </p>

  <h3 class="headings">• Digital Signature Certificate</h3>
  <p>
    Digital Signature Certificates (DSC) are the digital equivalent (that is
    electronic format) of physical or paper certificates. Certificates serve as
    proof of identity of an individual for a certain purpose; for example, a
    driver's license identifies someone who can legally drive in a particular
    country.
  </p>

  <h3 class="headings">• LLP Registration</h3>
  <p>
    The concept of the Limited Liability Partnership (LLP) was introduced in
    India in 2008. An LLP has the characteristics of both the partnership firm
    and company. The Limited liability Partnership Act, 2008 regulates the LLP
    in India. Minimum two partners are required to incorporate an LLP.
  </p>

  <h3 class="headings">• Apeda Registration</h3>
  <p>
    APEDA stands for Agricultural & Processed Food Products Export Development
    Authority. Agricultural exports contribute 10% of the country's total
    exports. And for exporting agricultural and processed food products, one
    needs to have an APEDA license.
  </p>

  <h3 class="headings">• Agmark Certification</h3>
  <p>
    AGMARK is a certification mark for agricultural produce, assuring that they
    conform to a grade standard notified by Directorate of Marketing &
    Inspection (DMI), Department of Agriculture, Cooperation and Farmers
    Welfare, Ministry of Agriculture & Farmers Welfare under Agricultural
    Produce (Grading Marking) Act, 1937.
  </p>

  <h3 class="headings">• Ayush License</h3>
  <p>
    AYUSH Loan License is a manufacturing license where one loan a manufacturing
    unit of a third party manufacturer to make the products. The third party
    manufactures the products. It is required to apply for a Loan license with a
    GMP certified manufacturer and then it will be issued to the company.
  </p>

  <h3 class="headings">• Barcode Registration</h3>
  <p>
    • You can then register your barcode numbers and product/company details on
    the International Barcodes Database
    https://barcodesdatabase.org/barcode-registration/ (your company name and
    barcode numbers will be automatically registered already on the IBNREG.org
    database).
  </p>

  <h3 class="headings">• Import Export Code</h3>
  <p>
    • An Importer -Exporter Code (IEC) is a key business identification number
    which mandatory for export from India or Import to India. No export or
    import shall be made by any person without obtaining an IEC unless
    specifically exempted.
  </p>

  <h3 class="headings">• Annual ROC Filing</h3>
  <p>
    Income tax return is submitted to Income Tax department whereas ROC returns
    are filed with Ministry of Corporate Affairs (MCA) with whom the company is
    registered. It is mandatory to file the prescribed ROC forms and other
    returns on annual basis. Form MGT 7 is used to file Annual Return. The due
    date is May 30.
  </p>

  <h3 class="headings">• NGO Registration</h3>
  <p>
    NGO registration also gives the leverage of tax exemptions and registration
    is important for application for 80G and FCRA. Registering as NGO gives you
    the credibility to approach prospective donors or institutions. It
    differentiates your NGO from the others.
  </p>

  <h3 class="headings">• Shop and Establishment License</h3>
  <p>
    It is also called Shop License informally. The Shop Establishment
    registration is a state -based registration required while establishing a
    hotel, shop, or any commercial place. It is relevant for every new
    shop/establishment to get it registered under the Shops and Establishment
    Act.
  </p>

  <h3 class="headings">• Society Registration</h3>
  <p>
    A society is an association of several individuals combined using a mutual
    accord to deliberate, govern and act cooperatively for some communal
    purpose. Societies are usually registered for the advancement of charitable
    activities like sports, music, culture, religion, art, education, etc.
  </p>

  <h3 class="headings">• Pasara License</h3>
  <p>
    Private Security Agencies Regulation Act, 2005 (PSARA) regulates the Private
    Security Industry in India. This Act regulates functioning of the private
    security agencies through Controlling Authorities which are appointed by
    State Governments. It is mandatory to obtain license from State Authority
    concerned.
  </p>

  <h3 class="headings">• ISI Mark Certification</h3>
  <p>
    ISI (Indian Standards Institute) mark is a product certification scheme by
    BIS. ISI mark is used for industrial items in India post ascertainment of
    the product's compliance with the required standards. The ISI mark is
    compulsory for certain items to be sold in India.
  </p>

  <h3 class="headings">• Weight Metrology License</h3>
  <p>
    Licencing of manufacturer, repairer and dealer of Weights and Measures –
    Every manufacturer or repairer of, or dealer in, weight or measure shall
    make an application for the issue of a licence to the Controller Legal
    Metrology or such other Officer as may be authorised by him in this behalf,
    in the appropriate form.
  </p>

  <h3 class="headings">• Nidhi Company Registration and Compliances</h3>
  <p>
    A company incorporated under this concept carries 'Nidhi Limited' as part of
    its name. During no time during its operation should the Net Owned Funds
    (NOF) go below Rs. 10 Lacs. Such companies need to have unencumbered
    deposits of not less than 10 percent of their outstanding deposits.
  </p>

  <h3 class="headings">• NBFC Company Registration and Compliances</h3>
  <p>
    Non Banking Financial Company also known as NBFC company, functioning as per
    the Indian Companies Act, giving loans and advances to the public. An NBFC
    company can acquire shares, stocks, bonds, debentures and securities from
    Government as well as local authority or any other marketable securities.
  </p>

  <h3 class="headings">• MCA Related Services</h3>
  <p>
    The Ministry of Corporate Affairs functions with the vision of being the
    facilitator of world-class corporate governance. Its mission is to:
    Transform the regulatory environment for easy compliance. Balance competing
    interests of various stakeholders.
  </p>
</div>

<%- include("partials/footer"); %>
