<%- include("partials/header"); %>

<h1 class="headings">WE FIGHT FOR YOU</h1>
<h3 class="headings">
  At elawyer, justice is not an abstract term. It's something we create everyday
  for our clients.
</h3>
<br>
<div class="textf">
<p>
  eLawyer is a premium Legal Services Provider Law Group with experienced
  Advocates & Solicitors which are trusted by its Clients to provide best
  possible solution. Our attorneys conceive and implement solutions that address
  your specific needs. Our firm represents clients across the India as well as
  globally. We provide you with a rare mix of big firm resources and small firm
  personal attention. We will work together with you and be your trusted
  long-term advisors. We pride ourselves on our open, down-to-earth approach.
</p>
<br>
<p>
  We invite you to give us the opportunity to address your case and the possible
  solutions even if you do not end up retaining us. We do not ask you to choose
  us. We ask you to choose the right lawyer. Whether that is us or someone else
  is irrelevant. We invite you to consult with a couple lawyers prior to
  choosing who you better connect with. We charge for our initial consultation
  because we want serious clients who know of us and trust us before they come
  in. If you have to pay for something, you will spend much more time looking
  into it, qualifying it and determining whether it is worth the money or
  whether you really need it. We want you to do that with us. Because that is
  where a good solicitor/client relationship starts. We do not need to or want
  to give incentives such as a free consultation to lure clients into retaining
  us. Our quality of advice and work should do that job which again are
  ingredients to successful cases and good relationships.
</p>
</div>

<%- include("partials/footer"); %>
