<%- include("partials/header"); %>

<div class="home">
  <div class="homeContent">
    <div class="topHome">
    <div class="whatsapp home">
      <a href="https://wa.me/message/P6GY7RGUZEZBM1"><img src="/icons/whatsapp.png" ></a>
    </div>
    <div>
      <img class="homeLogo" src="/icons/logo.png">
    </div>
  </div>
    <h1 class="headings">WE FIGHT FOR YOU</h1>
    <h2 class="headings">
      At elawyer, justice is not an abstract term. It's something we create
      everyday for our clients.
    </h2>
    <h2 class="headings">
      eLawyer is a premium Legal Services Provider Law Group with experienced
      Advocates & Solicitors which are trusted by its Clients to provide best
      possible solution.
    </h2>
    
  </div>
  <!-- <div class="homeImg">
    <img src="/icons/neeraj.png" class="dp" />
  </div> -->
  
</div>




<%- include("partials/footer"); %>
