<%- include("partials/header"); %>
<br>
<div class="textf">
  <h1 class="headings">PROPERTY REGISTRATION</h1>

  <h3 class="headings">• General Power of Attorney</h3>
  <p>
    A general power of attorney acts on behalf of the principal in any and all
    matters, as allowed by the state. The agent under a general agreement may be
    authorized to take care of issues such as handling bank accounts, signing
    checks, selling property and assets like stocks, filing taxes, etc.
  </p>

  <h3 class="headings">• Special Power of Attorney</h3>
  <p>
    A special power of attorney allows a person (the principal) to authorize
    another individual (the agent) to make legal decisions on their behalf. A
    general power of attorney is broader, giving the agent the ability to make
    all legal and financial decisions on behalf of the principal.
  </p>

  <h3 class="headings">• Sale deed</h3>
  <p>
    A sale deed acts as the main legal document for evidencing sale and transfer
    of ownership of property in favour of the buyer, from the seller. ... The
    sale deed is the main document by which a seller transfers his right on the
    property to the purchaser, who then acquires absolute ownership of the
    property.
  </p>

  <h3 class="headings">• Sale agreement</h3>
  <p>
    An agreement of sale constitutes the terms and conditions of sale of a
    property by the seller to the buyer. Sale deed is the document prepared at
    the time of full payment made by the buyer and when the actual transfer of
    the property takes place.
  </p>

  <h3 class="headings">• Relinquishment deed</h3>
  <p>
    Relinquishment deed is a legal document/instrument where a legal heir gives
    up or releases his legal rights in an inherited parental property for
    another legal heir such as his mother, son, daughter, brother, sister, etc.
  </p>

  <h3 class="headings">• Lease hold to free hold</h3>
  <p>
    Leasehold refers to a property tenure, where one party buys the right to
    occupy the property for a given length of time (30 to 99 years). In a
    leasehold land, the authority (usually, a government agency) remains the
    owner of the land and gives the land to builders, to develop apartment
    projects on a leasehold basis. If you have purchased a freehold property,
    you own the land it is built on and also the house. In the case of
    apartments, the owner of the house becomes a shareholder in the property. In
    India, most houses are sold as freehold property but apartments are mostly
    on a lease.
  </p>

  <h3 class="headings">• Conveyance Deed</h3>
  <p>
    Conveyance deed is a legal document that is used to transfer the title of
    property from one person to another as a gift, an exchange, a lease, a
    mortgage, etc. A gift deed, mortgage deed, lease deed or sale deed can also
    be called as a conveyance deed.
  </p>

  <h3 class="headings">• Partnership Deed</h3>
  <p>
    A partnership deed is an agreement between the partners of a firm that
    outlines the terms and conditions of partnership among the partners. The
    partnership deed serves this purpose. It specifies the various terms such as
    profit/loss sharing, salary, interest on capital, drawings, admission of a
    new partner, etc.
  </p>

  <h3 class="headings">• Gift Deed</h3>
  <p>
    A Gift Deed is a legal document that allows you to transfer ownership of
    property to another person such as a relative or close friend without
    monetary consideration or "in consideration of love and affection". The
    Donor is the person who is giving away the gift.
  </p>

  <h3 class="headings">• Trust Deed</h3>
  <p>
    A deed of trust is an agreement between a home buyer and a lender at the
    closing of a property. It states that the home buyer will repay the loan and
    that the mortgage lender will hold the legal title to the property until the
    loan is fully paid.
  </p>

  <h3 class="headings">• Registration</h3>
  <p>
    The purpose of the Act is to consolidate the law relating to registration
    and it provide for the method of its registration. It lays down what
    documents is compulsory for registration.
  </p>

  <h3 class="headings">• Will registration</h3>
  <p>
    In India, the registration of Wills is not compulsory even if it relates to
    immoveable property. Procedure for Registration: A Will is to be registered
    with the registrar/sub-registrar with a nominal registration fee. The
    testator must be personally present at the registrar's office along with
    witnesses.
  </p>

  <h3 class="headings">• DDA</h3>
  <p>
    The Delhi Development Authority (DDA) is a planning authority created in
    1957 under the provisions of the Delhi Development Act "to promote and
    secure the development of Delhi". To formulate a Master Plan for the
    development of Delhi and work accordingly; To possess, manage and dispose of
    land and other property; To carry out building, engineering, mining, and
    other operations.
  </p>

  <h3 class="headings">• MCD</h3>
  <p>
    The MCD was among the largest municipal bodies in the world providing civic
    services to more than estimated population of 11 million citizens in the
    capital city." MCD was one of three municipalities in the National Capital
    Territory of Delhi, the others being New Delhi Municipal Council, and Delhi
    Cantonment Board.
  </p>

  <h3 class="headings">• Mutation</h3>
  <p>
    The Mutation in MCD refers to change of name of the person in whose favour a
    property is assessed in the records of MCD as per their relevant act & rules
    thereof. The Mutation is only for the purpose of Property tax (House Tax)
    only and does not confer a legal title.
  </p>

  <h3 class="headings">• International Laws</h3>
  <p>
    International law is a system of treaties and agreements between nations
    that governs how nations interact with other nations, citizens of other
    nations, and businesses of other nations.
  </p>

  <h3 class="headings">• Military Laws</h3>
  <p>
    The purpose of military law is to promote justice, to assist in maintaining
    good order and discipline in the armed forces, to promote efficiency and
    effectiveness in the military establishment, and thereby to strengthen the
    national security of the India.
  </p>

  <h3 class="headings">• Privacy</h3>
  <p>
    At present, there are no such data protection acts in India. The only
    existing act is Information Technology Act, 2000 (IT Act), which gives
    grieved individuals a right to compensation for improper disclosure of
    personal information. It is not so that such acts have not been thought
    about in the country. The Supreme Court held that the right to privacy is a
    fundamental right flowing from the right to life and personal liberty as
    well as other fundamental rights securing individual liberty in the
    constitution.
  </p>
</div>
<%- include("partials/footer"); %>
