<%- include("partials/header"); %>
<br>

<body>
    <div class="center">
      <h1 class="login">Register</h1>
      <%- include("./partials/messages"); %>

      <form method="POST">
        <div class="txt_field">
          <input type="text" id="name" name="name" required>
          <span></span>
          <label for="name">Name</label>
        </div>
        <div class="txt_field">
          <input type="email" id="email" name="email" required>
          <span></span>
          <label for="email">Email</label>
        </div>
        <div class="txt_field">
            <input type="password" id="password" name="password" required>
            <span></span>
            <label for="password">Password</label>
          </div>
          <div class="txt_field">
            <input type="number" id="phone" name="phone" required>
            <span></span>
            <label for="phone">Phone</label>
          </div>
          <div class="txt_field">
            <input type="number" id="pincode" name="pincode" required>
            <span></span>
            <label for="pincode">Pincode</label>
          </div>
        <input type="submit" value="Register">
        <div class="signup_link">
            <a href="/login"></a>
        </div>
      </form>
    </div>
  </body>




    
<%- include("partials/footer"); %>