.footer-padding {
    padding-bottom: 60px;
  }
  
  .footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #190482;
  }
  
  .footer p {
    margin-top: 23px;
    font-size: 12px;
    color: #fff;
  }
