* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
}

.imgTop {
  height: 20px;
}

.img {
  height: 35px;
  padding-top: 10px;
}

.logo {
  height: 30px;
  position: absolute;
  left: 0;
  padding-left: 15px;
}

.bgimage {
  height: 78%;
  width: 85%;
  z-index: -2;
  position: fixed;
}

.textf {
  z-index: 0;
  position: absolute;
  width: 85%;
  color: black;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.textf p{
  font-family: 'Oranienbaum', serif;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.headings {
  text-align: center;
  padding-top: 3%;
  color: black;
  font-family: 'EB Garamond', serif;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}