* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
}

.imgTop {
  height: 20px;
  margin-right: 3.5px;
}

.img {
  height: 35px;
  padding-top: 10px;
}

.logo {
  height: 30px;
  position: absolute;
  left: 0;
  padding-left: 15px;
}

.bgimage {
  height: 78%;
  width: 85%;
  z-index: -2;
  position: fixed;
}

.textf {
  z-index: 0;
  position: absolute;
  width: 85%;
  color: black;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.textf p{
  font-family: 'Oranienbaum', serif;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  font-size: 1.15rem;
}

.headings {
  text-align: center;
  padding-top: 3%;
  color: black;
  font-family: 'EB Garamond', serif;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#pricing {
  padding: 100px;
}

.pricing-text{
  font-size: 2rem;
  line-height: 1.5;
}

.pricing-col {
  padding: 3% 2%;
}

.home{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeImg{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.dp{
  width: 65%;
  margin-top: 10%;
  border-radius: 10px;
  border :3px solid black;

}

.whatsapp{
  margin-top: 2%;
	background: white;
	box-shadow: 0 0 0 0 #25D366;
	animation: pulse-green 1.5s infinite;
  display: flex;
  width: 45px;
  border-radius: 30px;
}

.home a img{
  width: 45px;
}

@keyframes pulse-green {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(37, 211, 102, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
	}
}

hr{
  border-style: dotted none none;
  border-width: 5px;
  border-color: #190482;
  width: 8%;
  margin: 7px auto;
}