* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px 0 20px;
    background-color: #190482; 
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    color: white;
}

header a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
    /* transition: all 0.3s ease 0s; */
}

header a:hover {
    /* color: #b2dfdb; */
    text-decoration: underline;
}


.navb {
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 5px;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-top: 50px;
  }
  
  .navb a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px 14px 5px;
    text-decoration: none;
  }
  
  .ddown {
    float: left;
    overflow: hidden;
  }
  
  .ddown .dbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navb a:hover, .ddown:hover .dbtn {
    background-color: #98E4FF;
  }
  
  .ddown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .ddown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .ddown-content a:hover {
    background-color: #ddd;
  }
  
  .ddown:hover .ddown-content {
    display: block;
  }

  .imgTop{
    height: 20px;
  }

  .img{
    height: 35px;
    padding-top: 10px;
  }

  .logo{
    height: 30px;
    position: absolute;
    left: 0;
    padding-left: 15px;
  }

  .bgimage{
    height: 78%;
    width: 85%;
    z-index: -2;
    position: fixed;
  }

  .footer-padding {
    padding-bottom: 60px;
  }
  
  .footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #190482;
  }
  
  .footer p {
    margin-top: 23px;
    font-size: 12px;
    color: #fff;
  }

  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #191D88;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }

  .center h1{
    text-align: center;
    padding: 20px 0;
    color: white;
    border-bottom: 1px solid silver;
  }

  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }

  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }

  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }

  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }

  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: .5s;
  }

  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: white;
  }

  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }

  .pass{
    margin: -5px 0 20px 5px;
    color: white;
    cursor: pointer;
  }

  .pass:hover{
    text-decoration: underline;
  }

  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }

  input[type="submit"]:hover{
    border-color: white;
    transition: .5s;
  }

  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: white;
  }

  .signup_link a{
    color: white;
    text-decoration: none;
  }

  .signup_link a:hover{
    text-decoration: underline;
  }

  .textf{
    z-index: 0;
    position: absolute;
    width: 85%;
    color: #F9FBE7;
  }

  .nib{
    position: fixed;
    top: 0;
    width: 100%
  }

  .heads{
    text-align: center;
    padding-top: 3%;
    color: #F9FBE7; 
  }